*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #a0ccee;
}

.contentCard{
    width: 30em;
    height: 30em;
    margin: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main > *:nth-child(2n+1){
    background-color:beige;
}

/**aqui vamos a personalizar cada tarjeta y comparar sus inidades**/

.welcameCard{
    text-align: center;
}

.emCard {
    font-size: 20px;
}
.emCard h1{
    font-size: 40px;
    padding: 1em;
    background-color: rgb(33, 94, 94);
}
.emCard h2{
    font-size: 20px;
    padding: 1em;
    background-color: aqua;
}